<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Music festivals survey</title>
    <link href="../static/main.css" rel="stylesheet" />
    <link href="../static/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="main-container">
        <h1>
            Welcome to this music festivals survey!<br />
        </h1>
        <p>
            My name is Alberto and I would like to ask you some questions regarding music festivals.<br />Are you ready? Let's go!
        </p>
        <div>
            <form action="{{url_for('en_success')}}" method="post">
                <input title="Email address" placeholder="Enter your email address" type="email" name="form_email" required /><br />
                <input title="Age" placeholder="Enter your age in years" type="number" min="16" max="120" name="form_age" required /><br />
                <label for="genders">Select your gender</label>
                <select id="genders" name="form_gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select><br />
                <label for="genres">Which is your favourite music genre?</label>
                <select id="genres" name="form_music_genre">
                    <option value="alternative">Alternative</option>
                    <option value="blues">Blues</option>
                    <option value="classical">Classical</option>
                    <option value="country">Country</option>
                    <option value="dance">Dance</option>
                    <option value="drum'n'bass">Drum'n'bass</option>
                    <option value="dubstep">Dubstep</option>
                    <option value="edm">EDM</option>
                    <option value="electronic">Electronic</option>
                    <option value="folk">Folk</option>
                    <option value="frenchcore">Frenchcore</option>
                    <option value="hardcore">Hardcore</option>
                    <option value="hardstyle">Hardstyle</option>
                    <option value="hardtek">Hardtek</option>
                    <option value="hip hop">Hip hop</option>
                    <option value="house">House</option>
                    <option value="indie">Indie</option>
                    <option value="jazz">Jazz</option>
                    <option value="latin">Latin</option>
                    <option value="metal">Metal</option>
                    <option value="pop">Pop</option>
                    <option value="psychedelic">Psychedelic</option>
                    <option value="psytrance">Psytrance</option>
                    <option value="punk">Punk</option>
                    <option value="rap">Rap</option>
                    <option value="reggae">Reggae</option>
                    <option value="r&b">R&B</option>
                    <option value="rock">Rock</option>
                    <option value="soul">Soul</option>
                    <option value="swing">Swing</option>
                    <option value="techno">Techno</option>
                    <option value="trance">Trance</option>
                    <option value="world">World</option>
                    <option value="other">Other</option>
                </select><br />
                <input title="Number of festivals" placeholder="How many festivals have you been to?" type="number" min="0" max="200" name="form_festivals_number" required /><br />
                <input title="First festival age" placeholder="At what age did you go to your first festival?" type="number" min="16" max="120" name="form_festivals_age" required /><br />
                <input title="Festival name" placeholder="Which is your favourite festival?" type="text" name="form_festival_name" maxlength="100" required /><br />
                <label for="genres">Which is your favourite music genre for festivals?</label>
                <select id="genres" name="form_festival_music_genre">
                    <option value="alternative">Alternative</option>
                    <option value="blues">Blues</option>
                    <option value="classical">Classical</option>
                    <option value="country">Country</option>
                    <option value="dance">Dance</option>
                    <option value="drum'n'bass">Drum'n'bass</option>
                    <option value="dubstep">Dubstep</option>
                    <option value="edm">EDM</option>
                    <option value="electronic">Electronic</option>
                    <option value="folk">Folk</option>
                    <option value="frenchcore">Frenchcore</option>
                    <option value="hardcore">Hardcore</option>
                    <option value="hardstyle">Hardstyle</option>
                    <option value="hardtek">Hardtek</option>
                    <option value="hip hop">Hip hop</option>
                    <option value="house">House</option>
                    <option value="indie">Indie</option>
                    <option value="jazz">Jazz</option>
                    <option value="latin">Latin</option>
                    <option value="metal">Metal</option>
                    <option value="pop">Pop</option>
                    <option value="psychedelic">Psychedelic</option>
                    <option value="psytrance">Psytrance</option>
                    <option value="punk">Punk</option>
                    <option value="rap">Rap</option>
                    <option value="reggae">Reggae</option>
                    <option value="r&b">R&B</option>
                    <option value="rock">Rock</option>
                    <option value="soul">Soul</option>
                    <option value="swing">Swing</option>
                    <option value="techno">Techno</option>
                    <option value="trance">Trance</option>
                    <option value="world">World</option>
                    <option value="other">Other</option>
                </select><br />
                <label>Would you like to go to a music festival in 2021?</label>
                <select id="yesno" name="form_yesno">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select><br />
                <input title="2021 festival name" placeholder="Which one?" type="text" name="form_festival_name_2021" maxlength="100" /><br />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>