<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Music festivals survey</title>
    <link href="../static/main.css" rel="stylesheet" />
    <link href="../static/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="main-container">
        <h1>
            Welcome to this music festivals survey!<br />
        </h1>
        <p>
            My name is Alberto and I would like to ask you some questions regarding music festivals.<br />Are you ready? Let's go!
        </p>
        <div>
            <form action="{{url_for('en_success')}}" method="post">
                <input title="Email address" placeholder="Enter your email address" type="email" name="form_email" required /><br />
                <input title="Age" placeholder="Enter your age in years" type="number" min="16" max="120" name="form_age" required /><br />
                <label for="genders">Select your gender</label>
                <select id="genders" name="form_gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select><br />
                <input title="Favourite music genre" placeholder="Which is your favourite music genre?" type="text" name="form_music_genre" maxlength="50" required /><br />
                <input title="Number of festivals" placeholder="How many festivals have you been to?" type="number" min="0" max="200" name="form_festivals_number" required /><br />
                <input title="First festival age" placeholder="At what age did you go to your first festival?" type="number" min="16" max="120" name="form_festivals_age" required /><br />
                <input title="Festival name" placeholder="Which is your favourite festival?" type="text" name="form_festival_name" maxlength="100" required /><br />
                <input title="Favourite festival music genre" placeholder="Which is your favourite music genre for festivals?" type="text" name="form_festival_music_genre" maxlength="50" required /><br />
                <label>Would you like to go to a music festival in 2021?</label>
                <select id="yesno" name="form_yesno">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select><br />
                <input title="2021 festival name" placeholder="Which one?" type="text" name="form_festival_name_2021" maxlength="100"/><br />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>