<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Music festivals survey</title>
    <link href="../static/main.css" rel="stylesheet" />
    <link href="../static/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="main-container">
        <h1>
            Thank you for your submission!
        </h1>
        <p>
            You will receive an email shortly with your survey entries and some survey results
        </p>
    </div>
</body>
</html>