<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Music festivals survey</title>
    <link href="../static/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="main-container">
        <h1>
            ¡Gracias por tu aportación!
        </h1>
        <p>
            Recibirás en breves un correo electrónico con los datos que has introducido en el cuestionario, así como algunas estadísticas del mismo
        </p>
    </div>
</body>
</html>