<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Music festivals survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="main-container">
        <h1>
            <strong>¡Bienvenido a esta encuesta sobre festivales de música!</strong><br />
            Welcome to this music festivals survey!
        </h1>
        <p>
            <strong>Por favor, escoge un idioma para continuar:</strong><br />
            Please choose a language to continue:
        </p>
        <a href="{{ url_for('es_home') }}">
            <button>Español</button>
        </a>
        <a href="{{ url_for('en_home') }}">
            <button>English</button>
        </a>
    </div>
</body>
</html>